    <!-- ======= About Section ======= -->
    <section id="about">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-6">
              <h2>About The Event</h2>
              <p>DLTW - District Leadership Training Workshop is the Annual Distirct Rotaract Training organised by Rotaract District Counil 3190.</p>
            </div>
            <div class="col-lg-3">
              <h3>Where</h3>
              <p>Zoom Video Conference</p>
            </div>
            <div class="col-lg-3">
              <h3>When</h3>
              <p>Saturday & Sunday<br>12 – 13 September<br>2020</p>
            </div>
          </div>
        </div>
      </section><!-- End About Section -->