  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row justify-content-around">

          <div class="col-lg-3 col-md-6 footer-info">
            <img src="assets/img/logo.png" alt="TheEvenet">
            <p>DLTW - District Leadership Training Workshop is the Annual Distirct Rotaract Training organised by Rotaract District Counil 3190.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Partner Clubs</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="https://instagram.com/rcob_3190" target="_blank">Banashankari</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="https://instagram.com/racbrmv" target="_blank">Bangalore Rajmahal Vilas</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="https://instagram.com/mesrotaract" target="_blank">MES College</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="https://www.instagram.com/rc_pesu3190/" target="_blank">PES University</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="https://instagram.com/rotaract_club_rims" target="_blank">Ramaiah Institute of Management (RIMS)</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="/">Home</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#about">About</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#speakers">Speakers</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#schedule">Schedule</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#supporters">Partners</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact</h4>
            <p>
              Rtr./Rtn. Arun Teja Godavarthi<br>
              District Rotaract Secretary<br>
              Operations & Training<br>
              <strong>Phone:</strong> +91 85537 88515<br>
              <strong>Email:</strong> hi@zeopsec.com<br>
            </p>

            <div class="social-links">
              <a href="https://twitter.com/Rotaract3190" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.facebook.com/rotaract3190" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/rotaract3190/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="https://www.youtube.com/rotaract3190YT" target="_blank" class="youtube"><i class="fa fa-youtube"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Rotaract 3190</strong>. All Rights Reserved
      </div>
      <div class="credits">
         <a href="https://bootstrapmade.com/" target="_blank"><i class="fa fa-paint-brush"></i></a> - <a href="https://zeospec.com/" target="_blank"><i class="fa fa-code"></i></a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" target="_blank" class="back-to-top"><i class="fa fa-angle-up"></i></a>