  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#intro">The<span>Event</span></a></h1>-->
        <a href="/" class="scrollto"><img src="assets/img/logo.png" alt="" title=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#speakers">Speakers</a></li>
          <li><a href="/#schedule">Schedule</a></li>
          <li><a href="/#gallery">Why Attend?</a></li>
          <li><a href="/#supporters">Partners</a></li>
          <li><a href="/#faq">F.A.Q</a></li>
          <li class="buy-tickets"><a href="https://rotaract3190.org/member.php" target="_blank">Register</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->
